# =========================
# Dependencies
# =========================
node_modules/
.pnpm-store/

# =========================
# Build output
# =========================
dist/
build/
.next/
out/
coverage/

# =========================
# Env files
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

.vscode/
!.vscode/extensions.json

.idea/
*.iml

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Sequelize
# =========================
sequelize.sqlite
*.sqlite
*.sqlite3
